.mainContainer {
    margin: 0 auto;
    display: flex;
    height: 98vh;
    overflow-y: hidden;
    align-items: center;
}

/* @media only screen and (max-width: 1350px) {
    .mainContainer {
        display: block !important;
    }
  } */

.leftContainer {
    display: inline-flex;
    text-align: left;
    padding: 1rem;
    width: 15vw;
    min-width: 250px;
}

.classPicker {
    border-radius: 10px;
    width: 30vw;
    height: 700px;
    min-width: 450px;
    background-color: rgb(19, 19, 19);
}

.classPicker > .header {
    width: calc(100% - 2rem);
    background-color: #222;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    display: table;
    text-align: center;
}

.classPicker > .header > span {
    display: table-cell;
    vertical-align: middle;
}

.classPicker > .avaliableClass {
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    display: table;
    text-align: center;
    width: 100%;
}

.classPicker > .avaliableClass > span {
    display: table-cell;
    vertical-align: middle;
}

.sheduleContainer {
    display: inline-flex;
    padding: 1rem;
    width: 55vw;
    min-width: 450px;
    align-items: center;
}

#scheduleViewer {
    width: 95%;
    height: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.25fr 0.25fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(19, 19, 19);
    /* border: 1px solid whitesmoke; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 5px;
}

#scheduleViewer > div {
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    display: table;
    text-align: center;
}

#scheduleViewer > div > span {
    display: table-cell;
    vertical-align: middle;
}

#scheduleViewer > div:nth-child(n+2) {
    margin-left: -1px;
}

#scheduleViewer > div:nth-child(n+6) {
    margin-top: -1px;
}

#scheduleViewer > .header {
    background-color: #222;
    color: white;
    font-weight: bolder;
}

#scheduleViewer > #topLeft {
    grid-row: 1 / span 2;
}

#scheduleViewer > .topHeader {
    grid-column: span 2;
    height: 0.25fr;
}

#scheduleViewer > .aDay {
    height: 20px;
    background-color: #CB2823;
}

#scheduleViewer > .bDay {
    height: 20px;
    background-color: #11197F;
}